/* *{ box-sizing:border-box} --> width will be fixed (even we give margin or padding or border to element
but total width will be the same as we defined) (Total width or height 
contains margin or padding and border in the defined width and height )
*/

/* 

Now to make the name on top of the image we will make image as relative and name as absolute 

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* margin & padding 0 means there will be no space in between the element */
}

body{
    background-color: rgba(128, 128, 128, 0.041);
    font-family: Arial, Helvetica, sans-serif;
}
/* ******************************************************************** */
/* Setting up the font size of the text and color */
p{
    font-size: 0.8rem;
    color: #888;
}

h2{
    font-weight: normal;
    color: #888;
}

h3{
    font-weight: normal;
    font-size: 0.9rem;
    color: rgb(129, 129, 129);
}

.subtext{
    /* This will change the color of the paragraph text */
    color: #212121;
    margin-block: 10px;
}



/* *********************************************************************** */
.container{

    width: 70%;
    display: flex;
    gap: 20px;
    margin-inline: auto;
    /* Margin inline will help the conatiner to be in center */
    margin-block: 20px;
    /* It will move the container from top and bottom */
}

.card{
    /* We created this class to show the left section as a card */
    background-color: white;
    /* Box shadow will help us for creating the outer shadow of the Left section */
    box-shadow: 4px 4px 4px #ccc;
}

.left-column{
    width: 30%;
}

.right-column{
    width: 70%;
    /* we are making this column as a flex */
    display: flex;
    flex-direction: column;
    /* we are giving gap because the container are close to each other and we need space in between them */
    gap: 20px;
}

/* We make image box relative and username as absoulte so that the username can float on the image */
.image-box{
    position: relative;
    
}

.image-box img{
    width: 100%;
}

.image-box .username{

    position: absolute;
    color: white;
    bottom: 10px;
    left:10px;
}
/* ******************************************************** */

ul{
    list-style: none;
    /* Remove the disc  */

    margin-block: 20px;
    /* margin will be added from top and bottom */
}

/* ul > li {we will add margin in between the list element}*/
ul > li {
    margin-top: 8px;
}

hr{
    border: 0.1px solid #eee;
    margin-block: 20px;

}

/* ********************************************************************** */
.icon-text{
    display: flex;
    /* Currently image and text are not in the same line so if we make the div as flex
    then both will be in same line  */
    gap: 10px;
    margin-block: 10px;
    align-items: center;
    /* align item will help the icon and text be on the same line */
}

i {
    color: teal;
    /* This will change all the icon color as teal  */
}


/*  Now we have skills and Language Section */
.progress-bar{
    background-color: #ccc;
    border-radius: 20px;
    margin-block: 4px;
    /* To make the progress bar curve we will use border-radius */

}

.progress-bar .progress{
    background-color: teal;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 0.6rem;
    padding: 2px;

    
}


/* Right column task is started */

/* We will add gap as there is no gap in between left and right container --> .container{gap: 20px) */

/* We will make right coloumn as flex so that we can give space in between work exp and edu
   and we will set the flex direction as column, one more thing we already make our conatiner 
   as a flex but still we are making the right column as flex, as this will help us giving spacing
   in between the two section 
*/

/* Now we will change the font and color of whole website, we will add font-family in body */

/* Now we want to add padding inside the Work exp and edu, so instead of adding the padding
in each every element what we will do is we will define the padding/margin    
*/

.left-desc, .card-content{

    margin: 20px;
    /* This will add space from all the side */
}

.skills, .Languages{
    margin-block: 20px;
}


.date {
    color: teal;
    /* change the color of text use for date */
}


.badge{

    background-color: teal;
    color: white;
    padding: 2px 4px;
    font-size: 0.7rem;
    border-radius: 4px;

    /* This will add color to bagde current  */
}